API_ID=20813524 # get this value from my.telegram.org
API_HASH=1f77f02f464c205cd3ef34236cce8695 # get this value from my.telegram.org
BOT_TOKEN=8252986096:AAHJQVWjFDyN9j1C7rEunHalr8pQHI66vRs # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://abc:abc@music.dlua0.mongodb.net/yukki?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001234567890 # get this value from in your log group 
MUSIC_BOT_NAME=yukki # your music bot name 
STRING_SESSION=pyrogram_string_session # get this value from @yukkistringbot
